table{
	background-color:rgb(189, 205, 209);
	text-align: center;
	width: 100%;
}

#body{
	background-color:rgb(126, 157, 57)
}

img{
	height:400px;
}

.head{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

h2{
	font-family: "Lucida Console", Courier, monospace;
}

.name{
	font-family: "Goudy Old Style", "Times New Roman", serif;
	font-size: 400%;
}

button{
	font-family: "Goudy Old Style", "Times New Roman", serif;
	font-size: 250%;
	background-color:rgb(126, 157, 57);
	cursor: pointer;
}

.hidden{
	display: none;
}